@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';

:root {
    font-family: 'Montserrat', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
    --foreground: rgba(255, 255, 255, 0.87);
    --background: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
}

body {
    @apply m-0 min-w-80 max-w-screen min-h-screen overflow-x-hidden flex place-items-center;
}

#app {
    @apply m-0 p-0 flex flex-col bg-gradient-to-br from-gray-800 to-gray-950 text-center;
}

nav::after {
    @apply bg-linear-30 from-gray-950 to-slate-900;
    content: '';
    position: absolute;
    inset: 0;

    opacity: 0.8;
    z-index: -1;
}
nav .links a {
    @apply flex items-center text-blue-100 font-bold transition-colors no-underline hover:text-blue-500;
}

@media (prefers-color-scheme: light) {
    /* I'll implement light mode in the future
        (Dark mode is superior)
    */
}

@media screen and (max-width: 900px) {
    nav {
        @apply justify-between px-4 gap-0;
    }

    .section {
        @apply flex-col items-center;
    }
    .section div {
        @apply max-w-full text-center;
    }
}
@media screen and (max-width: 500px) {
    nav {
        @apply justify-center;
    }
    nav .links {
        @apply hidden;
    }
}
