@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 min-w-80 max-w-screen min-h-screen overflow-x-hidden flex place-items-center;
}

#app {
  @apply m-0 p-0 flex flex-col bg-gradient-to-br from-gray-800 to-gray-950 text-center;
}

a {
  @apply text-blue-100 font-bold transition-colors no-underline hover:text-blue-500;
}


#navBar {
  @apply sticky top-0 z-1 backdrop-blur-lg;
}
#navBar::after {
  @apply bg-linear-30 from-gray-950 to-slate-900;
  content: '';
  position: absolute;
  inset: 0;
  
  opacity: 0.8;
  z-index: -1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media screen and (max-width: 900px) {
  #navBar nav {
    @apply justify-between px-4 gap-0;
  }

  .section {
    @apply flex-col items-center;
  }
  .section div {
    @apply max-w-full text-center;
  }
}
@media screen and (max-width: 500px) {
  #navBar nav {
    @apply justify-center;
  }
  #navBar nav .links {
    @apply hidden;
  }
  
}
